<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>

    <%- include('components/navbar') %>

    <h1>Profile</h1>
    <p>is Verified: <span id="email-verified"></span></p>
    <p>Email: <span id="email"></span></p>
    <p>Created At: <span id="createdAt"></span></p>


    <p>Catatan : Jika email tidak terkirim, mohon klik tombol ini</p>
    <button id="verify">Kirim Email Verifikasi</button>


    <div>
      <h4 id="notifikasi">Notifikasi</h4>

      <p>catatan : notifikasi hanya akan terbroadcast di tab sekarang, bukan tab baru, silahkan cek email terlebih dahulu setelah menekan tombol verifikasi</p>
      <p id="io-notifikasi"></p>
    </div>
    
    
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    document.getElementById("verify").addEventListener("click", async function() {
      const sessionToken = sessionStorage.getItem('sessionToken');
      
      if (sessionToken) {
        try {
          const response = await axios.get('/try-send-email-verify', {
            params: {
              token: sessionToken
            }
          });
          
          console.log(response.data)

          if(response.data) {
            alert(response.data.message)
          }
        } catch (error) {
          //console.error('Error', error);
        }
      } else {
        //console.error('Session token is not found!');
      }
    });

    document.addEventListener('DOMContentLoaded', async function() {
      const sessionToken = sessionStorage.getItem('sessionToken');

      console.log(sessionToken) //exist

      if (sessionToken) {
        try {
          const response = await axios.get('/api/v1/auth/who-am-i', {
            headers: {
              'Authorization': `Bearer ${sessionToken}`
            }
          });

          console.log(response)

          const userData = response.data.data;
          document.getElementById('email-verified').textContent = userData.isVerified;
          document.getElementById('email').textContent = userData.email;
          document.getElementById('createdAt').textContent = new Date(userData.createdAt).toDateString();


          const socket = io();

          socket.on('connect', () => {
              console.log('Connected to server');
          });

          socket.on('disconnect', () => {
              console.log('Disconnected from server');
          });

          socket.on(`User-${userData.id}`, (message) => {
              console.log('Received message:', message);
              const newElement = document.createElement('p');
              newElement.textContent = message;
              document.getElementById('io-notifikasi').appendChild(newElement)
          });
          } catch (error) {
            console.error('error', error);
          }
      } else {
        console.error('No session token found');
      }
    });
  </script>
</body>
</html>
