<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Reset Password</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>

    <%- include('components/navbar') %>

    <div class="form-container">
        <h4>Set New Password</h4>
        <p style="margin-bottom: 1rem;" id="socket-io"></p>
        <form id="passwordForm">
            <input placeholder="Enter New Password" type="password" id="password" name="password"><br><br>
            <button id="submit-button" type="submit">Submit</button>
        </form>
    </div>

    <script>

    const params = new URLSearchParams(window.location.search);
    const token = params.get('token');

    const socket = io();

    socket.on('connect', () => {
        console.log('Connected to server');
    });

    socket.on('disconnect', () => {
        console.log('Disconnected from server');
    });

    socket.on(`register-${token}`, (message) => {
        console.log('Received message:', message);
        document.getElementById('socket-io').textContent = message
    });
    
  document.getElementById('passwordForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            try {
                document.getElementById("submit-button").innerText = "Wait for a while....";

                const formData = new FormData(event.target);
                const newPassword = formData.get('password');

               

                console.log(token)

                if (!token) {
                    alert('Token is missing in the URL.');
                    return;
                }

                sessionStorage.setItem('sessionToken', token);

                const response = await axios.post('/api/v1/auth/reset-password', {
                    password: newPassword
                },
                {
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    }
                });

                console.log(response);

                const data = response.data;

                

                if (data.status) {
                    alert('Password has been successfully updated.');
                } else {
                    alert(`Error: ${data.message}`);
                }
                
            } catch (error) {
                alert(`Error: ${error.message}`);
                console.error('Error:', error);
            } finally {
                document.getElementById("submit-button").innerText = "Submit";
            }
        });
    </script>
</body>
</html>
